@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffcccc url(../img/share/bg.gif) no-repeat left top;
	font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;
	font-size: 80%;
	color: #666666;
}

html {
	overflow-y: scroll;
}

header {
	position: relative;
	margin: 0 auto;
	padding: 10px;
	width: 70%;
	border-bottom: 1px #666666 solid;
	
}

footer {
	margin: 0 auto;
	bottom: 10px;
	padding: 10px;
	width: 70%;
	
}

section {
	position: relative;
}

h1, h2, h3, h4, h5, h6 {

}

p, li, dt, dl {
	line-height: 1.6;
}
p {
	margin: 0 0 1em 0;
}
li {
	list-style-type: none;
}

img {
	border: 0;
}

address {
	font-style: normal;
}

.clear {
	clear: both;
}

a {
	color: #cc3333;
	text-decoration: none;
}

a:hover {
	color: #cc3333;
	text-decoration: underline;
}
